<html>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <style>
      .topright {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 18px;
      }
    </style>
    <form action="/{{hashcode}}/feed/0" method="GET" id="register">
      <input type="submit" value="¯\_(ツ)_/¯" />
    </form>
    <form action="/{{hashcode}}/create" method="POST" id="register">
      <input type="submit" value="Create Post" class="topright" />
    </form>
  </head>
  <body>
    <div class="jumbotron text-center">
      <h1 class="display-3">User Page of {{user_id}} !</h1>
    </div>
    <h3>Create Post</h3>

    <h1>Posts</h1>
    <table>
      {% for post_id, post in data.items() | reverse %}
      <tr>
        <td><strong>{{ post['post_title'] }}</strong></td>
        <td>
          <small><i>{{ post['post_timestamp'] }}</i></small>
        </td>
        <td>{{ post['post_content'] }}</td>
        <td>
          <small><i>vote_count:</i></small> {{ post['vote_counter'] }}
        </td>
        <td>
          <form
            action="/{{ hashcode }}/deleteConfirmation/{{post_id}}"
            method="GET"
            id="register"
          >
            <input type="submit" value="Delete Post" />
          </form>
        </td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
